.order-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    color: #1C2B35;
}

.cart-content {
    margin: 50px 0;
}

.cart-content p {
    margin-bottom: 25px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #2A414F;
}

.grand-total {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}