.header {
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;


}

.nav-item {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.nav-item li {
    list-style: none;
}

.nav-item li a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.005em;
    transition: all 0.5s ease;

}

.nav-item li a:hover {
    color: orange;
}

.nav-brand-logo {
    width: 140px;
    height: 40px;
    max-width: 100%;
}

.nav-item .active {
    color: orange;
}


.nav-bar {
    background-color: white;
    border: 0;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
}

.nav-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signOut-btn{
    padding: 5px 8px;
    border-radius: 5px;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: white;
    background: transparent;
    transition: all 0.3s ease;
}
.signOut-btn:hover{
    color: orange;
}
.user-mail{
    color: white;
    font-size: 12px;
    font-weight: 700;
}
/* mobile responsive  */
@media only screen and (max-width:576px) {
    .header {
        flex-direction: column;
        padding: 20px 10px;
        align-items: start;
        position: relative;
    }

    .nav-item {
        flex-direction: column;
        background-color: #1C2B35;
        position: absolute;
        top: 85px;
        z-index: 5;
        left: -500px;
        gap: 15px;
        padding: 15px 25px;
        height: 100vh;
        transition: all 0.5s ease-in-out;
    }
    .navActive{
        left: 0;
    }
    .nav-brand {
        width: 100%;
    }

    .nav-bar {
        display: block;

    }
}